---
import Layout from "../layouts/Layout.astro";
import LoginComponent from "../components/LoginComponent.astro";
---

<Layout title="Login Form">
  <div class="w-1/3 mx-auto mt-20">
    <LoginComponent />
  </div>
</Layout>
