---
import Layout from "../layouts/Layout.astro";
import LoginComponent from "../components/LoginComponent.astro";
---

<Layout title="Login Form">
  <div class="pt-20">
    <div class="mt-10">
      <LoginComponent />
    </div>
  </div>
</Layout>
