<h1>Login</h1>
<form
  id="loginForm"
  class="flex flex-col gap-5 items-start justify-start w-full max-w-lg"
>
  <label>
    Username:
    <input
      type="text"
      name="username"
      required
    />
  </label>
  <label>
    Email:
    <input
      type="email"
      name="email"
      required
    />
  </label>
  <label>
    Password:
    <input
      type="password"
      name="password"
      required
      minlength="6"
    />
  </label>
  <button
    type="submit"
    class="bg-black p-2 text-white"
    >Login</button
  >
</form>
<script>
  const form = document.getElementById("loginForm") as HTMLFormElement;

  form.addEventListener("submit", function (event) {
    event.preventDefault();

    const formData = new FormData(this);
    for (let [name, value] of formData) {
      console.log(`${name}: ${value}`);
    }
  });
</script>
